{% extends "layout.html" %}

{% block content %}
<ul id="secrets-list">
    {% for secret in secrets %}
    <li>
        <a href="/secrets/{{ secret.id }}">
            <h5>{{ secret.createdAt }}</h5>
            <h2>{{ secret.text }}</h2>
        </a>
    </li>
    {% endfor %}
</ul>
{% if page > 1 %}
<a class="prev-page" href="/secrets?page={{ page - 1 }}"><span>Previous Page</span></a>
{% endif %}
{% if page < totalPages %}
<a class="next-page" href="/secrets?page={{ page + 1 }}"><span>Next Page</span></a>
{% endif %}
{% endblock %}